#boxofficemain, #mvfooter {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center; 
}

#boxofficemain {
  height: 600px;
}

#mvfooter{
  height: 200px;
  width: 80%;
  color: white;
  background-color: darkslateblue;
  margin: 0 auto;

}

ul{
  width: 50%;
}

.sec, .divDt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec {
  width: 100%;
  flex-direction: column;
}

.divDt{
  width: 80%;
  height: 60px;
  background-color: aliceblue;
  flex-direction: row;
  border-radius: 17px;

  border: 1px dotted gray;
}

input[type=date], select {
  width: 40%;
  height: 30px;
  margin-left: 5%;
}

fieldset{
  width: 18%;
  height: 30px;
  margin-left: 5%;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
}

label{
  margin-right: 5px;
  margin-left: 2px;
}

.mvli{
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
  height: 45px;
  border-style: double;
  display: flex;
  justify-content: start;
  align-items: center;

  background-color: darkslateblue;
  color: white;

  margin: 0px, 2px;
}

.mvif {
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: small;
  color: white;
  font-weight: bold;


  margin: 0px, 2px;
}

.mvifName {
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: large;
  color: white;
  font-weight: bold;


  margin: 0px, 2px;
}


.mvli:hover {
  background-color: darkorange;
  font-weight: bold;
}

span{
  padding: 10px;
}


.rank {
  width: 40px;
  height: 30px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: darkslateblue;
  border-radius:20%;
}

.rank:hover {
  font-weight: bold;
  border: 3px double whitesmoke;
}

.movieNm {
  width: 60%;
}

.openDt {
  width: 30%;
}

.rankInten {
  width: 30%;
  display: flex;

  justify-content: center;
  align-items: center;
  

}

.spRed{
  color: red;
}

.spBlue{
  color: blue;
}