.menuLi {
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(10, 41, 136);
  color: white;
}

.h1Li {
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background-color: gray;
}

header, main{
  width: 80%;
  margin-left: 10%;
}

ul {
  list-style: none;
}

.menuLi:hover {
  background-color: rgb(6, 6, 245); 
}

a {
  text-decoration: none;
  color: white;
}

header {
  height: 80px;
  padding: 20px;
}
